body {
    font-family: Arial, sans-serif;
    background-color: #3e2f23;
    color: #e0d6c6;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #2c241c;
    padding: 20px;
    color: #d4af7a;
    
}

nav{
    filter: drop-shadow(-10px -10px 10px 0 #ffffff);
}
nav ul {
    list-style: none;
    margin: 0 25% 0 25%;
    padding: 8px 0px 8px 0px;
    display: flex;
    justify-content:center;
    background: #382c23;
    gap: 15px;
   
    
}

nav ul li {
    display: inline;
}

nav a {
    color: #d4af7a;
    text-decoration: none;
    font-size: 25px;

}
.main-container{
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
}
.content{
    width: 60%;
}
.image-container {
    
    margin-top: 80px;
    width: 15%;           /* Sichtfenster-Breite */
    height: 1200px;          /* Sichtfenster-Höhe */
    overflow: hidden;       /* Nur sichtbaren Bereich anzeigen */
    position: relative;
    border-radius: 10px;
  }
  
  .image-container img {
    position: absolute;
    animation: slide-image 15s infinite alternate ease-in-out;
    height: 100%;           /* Skaliert das Bild in Höhe */
    left: 0;
  }
  
  /* Animation: schwenken von links nach rechts und zurück */
  @keyframes slide-image {
    from {
      left: 0;
    }
    to {
      left: -1000px; /* Passe das an die Bildgröße an */
    }
  }
.container {
    width: 100%;
    max-width: 1200px;
    background-color: #5a4835;
    
    
    border-radius: 10px;
    box-shadow: 10px 10px 10px 0 rgba(2, 2, 2, 0.3);
    
}


.image-placeholder {
    width: 100%;
    max-width: 600px;
    height: 300px;
    background-color: #a97c50;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

input, textarea, button, select{
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 350px;
    border: none;
    border-radius: 5px;
    font-size: x-large;
    

}

label{
    font-size: 23px;
}

p{
    font-size: 20px;
}
button {
    background-color: #8b5e3b;
    color: white;
    cursor: pointer;
    box-shadow:  2px 2px 10px rgba(0, 0, 0, 0.514);
    font-size: x-large;
}

button:hover {
    background-color: #a97c50;
    
    
}
button:active{
    box-shadow:  2px 2px 10px rgba(0, 0, 0, 0.514);
    transform: scale(.97);
    }
select{
   
    font-size: large;
    max-height: 50px;
}

.admin-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reservation-list, .menu-list {
    width: 80%;
    background-color: #2c241c;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}


.menu:hover{
    color: #f0c9a3;
    text-shadow: 2px 2px 5px #000000;
}
#admin{
    float: right;
    color: #d4af7a;
    margin-left: 10px;
}
#admin:hover, #logout:hover{
    color: #6d5741;
}
#logout{
    float: right;
    color: #d4af7a;
}
#adresse{
    display: inline;
    align-items: center;
}
#anmeldung {
    display: flex;
    justify-content: center; /* Zentriert den Inhalt */
    gap: 50px; /* Abstand zwischen den Formularen */
    padding: 20px;
}

#anmeldung div {
    flex: 1; /* Beide Blöcke nehmen gleich viel Platz ein */
    max-width: 400px; /* Begrenzung der Breite */
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #8f7755;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
h2{
    text-shadow: 2px 2px 10px rgb(0, 0, 0);

}
h1{
    text-shadow: 2px 2px 10px #000000;

}
input, textarea, select{
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
}
#reservation-list{
    display: inline-block;
}
.reservation-tab{
    background-color: #442e1d;
    width: 33%;
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
    margin: 12px;
    padding: 12px;
}


.reservation-section{
    display: flex;
    justify-content: space-evenly;
}
.userLabel{
    font-size: 25px;
    background-color: #3b230b;
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
    padding: 3px;
    margin: 20px;
}
.gericht{
    text-decoration: underline;
    font-size: x-large;
    
}
.menuPic{
    height: 200px;
    max-width: 200px;
    object-fit: cover;
    object-position: top center;
    filter:invert(drop-shadow )
}
/* Allgemeines Styling für alle Tabellen */
table {
    
    table-layout: auto;
    border-collapse: collapse; /* Keine doppelten Ränder */
    margin: 20px auto; /* Abstand um die Tabelle */
    font-family: Arial, sans-serif; /* Schriftart */
    font-size: large;
    word-wrap: break-word; /* Zeilen umbrechen, wenn der Text zu lang ist */
}

/* Styling für die Tabellenüberschriften */
th {
    background-color: #8f7755;; /* Grüne Hintergrundfarbe */
    color: white; /* Weiße Schriftfarbe */
    padding: 12px 15px; /* Abstand innerhalb der Zellen */
    text-align: left; /* Text linksbündig */
    font-weight: bold; /* Fettdruck */
}

/* Styling für Tabellenzellen */
td {
    padding: 12px 15px; /* Abstand innerhalb der Zellen */
    text-align: left; /* Text linksbündig */
    border-bottom: 1px solid #ddd; /* Graue Trennlinie zwischen Zeilen */
    
}

/* Styling für gerade und ungerade Zeilen (Zebra-Streifen) */
tr:nth-child(even) {
    background-color: #8f7755;; /* Helles Grau für gerade Zeilen */
}

tr:hover {
    background-color: #ddd; /* Hellt die Zeile auf, wenn man mit der Maus darüber fährt */
    color: #000000;
}

/* Stil für Tabellen, die breiter als der Bildschirm sind (mit horizontalem Scrollen) */


.container {
    overflow-x: auto; /* Horizontal Scrollen ermöglichen */
    max-width: 100%; /* Maximale Breite auf 100% setzen */
    
}
.dishCont{
    display: flex;
    align-items: top;
    justify-content: center;
    
}
.dish{
    flex: 1;
    max-width: 500px;
    max-height: 300px;
    background-color: #201a14;
    border: inset 5px;
    border-color: silver;
}
.dishDesc{
    font-size: x-large;
}
.dishPrice{
    font-size: x-large;
}
.profile-wrap{
    display: flex;
    justify-content: center;   /* Zentriert horizontal */
    align-items: center;       /* Optional: auch vertikal */
    padding: 2rem;
}
.profile-block{
    
    display: flex;
    flex-direction: column;
    justify-items: center;
    /*gap: 0.5rem;*/
    background-color: #69412c; /* Dein brauner Stil */
    padding: 1.5rem 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    min-width: 320px;
}
.profile-section {
    display: flex;
    justify-content: space-between;
    text-align: left;
   
    color: #fff;
   
}


.label {
    width: 100px;
    text-decoration: underline;
    font-weight: bold;
    text-align: left;
}

.value {
    flex: 1;
    margin: 5px;
    padding-left: 3rem;
    text-align: left;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #5a4835;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    min-width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  }
  .roomSave {
    width: 1200px;
    height: 800px;
    border: 2px dashed #ccc;
    background-color: #f7f7f7;
    margin: 20px auto;
    position: relative;
  }

  .roomLoad {
    width: 1210px;
    height: 810px;
    border: 10px inset #000000;
    background-color: #aca79e;
    margin: 50px auto;
    position: relative;
    
  }
  
  .table {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
  }
  .resizer {
    width: 10px;
    height: 10px;
    background: #007BFF;
    position: absolute;
    right: 3px;
    bottom: 5px;
    cursor: se-resize;
  }
  
  .new {
    background-color: green;
    cursor: move;
  }
  
  .free {
    background-color: #69412c;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
    border: inset 5px;
    border-color: #201a14;
  }
  .occupied-wait{
    background-color: #2c241c;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
    color: red;
    border: inset 5px;
    border-color: #850808;

  }
  .occupied-active{
    background-color: #2c241c;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
    color: rgb(30, 255, 0);
    border: inset 5px;
    border-color: #088512;

  }
  .free:hover{
    background-color: #a97c50;
    color: #000000;
  }
  .occupied-wait:hover, .occupied-active:hover{
    background-color: rgb(170, 170, 170);
    color: #000000;
  }
  .tab{
    justify-content: space-around;
    
  }
  .tabs{
    display: flex;
    justify-content: center;
  }

  .tabBtn{
    margin-left: 10px;
    margin-right: 10px;
  }

  .toolbar{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size:x-large;
  }
  .modItem{
    margin: 5px 2px;
  }
  .serviceTab{
    display: flex;
  }
  .sidebarElement{
    display: flex;
    justify-content: center;
    margin-top: 40px auto;
  }
  .sidebar{
    margin: 2px;
    padding: 2px;
   
  }
  