body {
    font-family: 'Georgia', cursive;
    font-size: 1rem;
    background: radial-gradient(circle , #303030, #000000);
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
    min-width: 360px;
    overflow-x: auto;
    
   
}
html {
  scroll-behavior: smooth;
}
strong{
  font-size: 1em;
}
p{
  font-size: 1em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 2vw);
  z-index: 1000;
  margin: 0.2vh 1vw 0vh 1vw;
  background: radial-gradient(circle , #303030, #000000);
  padding-bottom: 15px;
  color: #e0e0e0;
  text-shadow:0 0 5px #ffffff,
    0 0 10px #b6b6b6,
    0 0 20px #5f5f5f,
    0 0 30px #000000;
  border-radius: 10px;
  justify-content: center;
  box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
    box-sizing: border-box;
    
}


nav{
  padding: 0%;
    width: 100%;
    margin-top: 10px;
    justify-items: center;
    padding: 0%;
    gap: 1rem;
    flex-wrap: wrap;
    filter: drop-shadow(-10px -10px 10px 0 #ffffff);
    border-radius: 10px;
    border: 10px #00000081;
    
}
nav ul {
    list-style: none;
    width: 50vw;
   
    padding: 0%;
    display: flex;
    justify-content:space-evenly;
    background: #382c23;
    gap: 15px;
    border-radius: 10px;
    border:  10px #00000081;
    background: radial-gradient(circle , #818181, #000000);
    box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
    
   
    
}
#orderGrid{
  width: 95vw;
  display: grid;
  grid-template-columns: repeat(5 ,1fr);
  grid-template-rows: minmax(0, 15vh);
  overflow: visible;
}
h3{
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 2%;
  border-radius: 15px;
}
.orderBox{
  max-height: 90%;
  min-width: 90%;
display: flex;
justify-content: space-evenly;
align-content: center;
background: radial-gradient(circle , #818181, #000000);
border-radius: 15px;
box-shadow:
    0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
padding: 2%, 25%,2%,0;
margin: 5px;
transition: max-height 1s, opacity 1s;
flex-wrap: wrap;
overflow-y:hidden;

}
.orderLabel{
  position: sticky;
  top: 0;
  min-height: 5vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: radial-gradient(circle , #818181, #000000);
}
.dishList {
  position: relative;
  max-height: 0;
  max-width: 0;
  opacity: 0;
  padding: 0%;
  display: block;
  overflow-x: hidden;
  transition: max-height 0.5s, max-width 0.5s, opacity 0.5s;
  
}
.new {
  color: #ffffff;
  text-shadow: 
    
    0 0 10px #f5da42,
    0 0 15px #f0a22f; 
}
.menu.active{
  color: yellow;
  text-shadow:  0 0 10px #f5da42,
                0 0 15px #f0a22f ;
}
.inProgress{
  color: #ffffff;
  text-shadow:   
    
    0 0 10px #42daf5,
    0 0 15px #2fc9f0;
}
.done{
  color: #59fa19;
  text-shadow:   
    
    0 0 10px #02ff38,
    0 0 15px #02b10a;
}


.orderBox.active .dishList {
  max-height: 50vh;
  min-width: 30%; /* groß genug für alle Einträge */
  opacity: 1;
  
  overflow-y: scroll;
  margin-bottom: 40px;
  
}
.orderBox.active {
min-width: 98vw;
height: max-content;
max-height: 70vh;
position: fixed;
top:20%;
left:0.5vw;
align-content: start;
z-index: 10;
overflow-x: hidden;

}

.boxLabel{
  display: block;
  width: 100%;
  
  font-size: 0.8rem;
}
.clsBtn{
  display: none;
}
.orderBox.active .clsBtn{
display: block;
 position:absolute;
 top:0;
 left: 0 ;
}
.orderBox.active .boxLabel{
  display: flex;
  justify-content: space-around;
}

.hidden-role{
  display: none !important;
}


nav ul li {
    display: inline;
    
}
.loginLink{
  display: flex;
  justify-content: center;
  justify-self: right;
  width: 12vw;
}

nav a {
    color: #d4d4d4;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    

}



#dishSkip{
  flex-direction: column;
  font-size: 0.8rem;
  list-style-position: inside;
  margin-left: 2em;
}
#dishSkip li{
  margin:0%;
  padding-top: 2%;
}

.main-container{
    margin-top: 185px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.content{
    
    position: relative;
    width: 100%;
    justify-items: center;
    box-sizing: border-box;
   
   
}

.orderListItem{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-left:2vw ;
  font-size: 1rem;
  width: 50%;
  white-space: normal;
  word-break: break-word;
}
.tblOrder{
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.orderState{
  max-width: 50%;
  min-width: 50%;
}
.changeBtn{
  background-color: #000000;
  height: 100%;
  padding: 2vh;
  border: inherit white 2px;
}
.changeBtn.For{
  margin: 0;
  padding: 0%;
  width: 25%;
  clip-path: polygon(0% 15%, 80% 15%, 80% 0%, 100% 50%, 80% 100%, 80% 85%, 0% 85%);
}
.changeBtn.Back{
  margin: 0;
  padding: 0%;
  width: 25%;
  clip-path: polygon(0% 50%, 15% 0%, 15% 15%, 100% 15%, 100% 85%, 15% 85%, 15% 100%);
}
.changeBtn.Back.new, .changeBtn.Back.inProgress{
  pointer-events: none;   
  opacity: 0.5;           
  cursor: not-allowed;
}
.btn{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.image-container {
    
    
    width: 15%;           /* Sichtfenster-Breite */
    height: 75vh;          /* Sichtfenster-Höhe */
    overflow: hidden;       /* Nur sichtbaren Bereich anzeigen */
    position: relative;
    border-radius: 10px;
    border: 10px white;
    margin: 15px;
    border: 5px rgba(255, 255, 255, 0.514);
    border-style: outset;
    box-sizing: border-box;
   
  }
  
  .image-container img {
    position: absolute;
    animation: slide-image 15s infinite alternate ease-in-out;
    height: 100%;           /* Skaliert das Bild in Höhe */
    left: 0;
  }
  
  /* Animation: schwenken von links nach rechts und zurück */
  @keyframes slide-image {
    from {
      left: 0;
    }
    to {
      left: -800px; /* Passe das an die Bildgröße an */
    }
  }
.container {  
    
    width: 100%;    
    background: radial-gradient(circle , #818181, #000000);
    box-shadow:   0 0 5px #ffffff,
    0 0 10px #b6b6b6,
    0 0 20px #5f5f5f,
    0 0 30px #000000; 
    border-radius: 15px;
    margin-top: 15px;
    max-width: 100%; /* Maximale Breite auf 100% setzen */
    justify-content: space-evenly;
    justify-items: center;
    box-sizing: border-box;
    
    
}



.loginForm{
  justify-items: center;
}
#reservation-table{
  padding: 0%;
  margin: 0%;
}
.resForms{
 
  height:70%;
  overflow-y: auto;
  padding: 0%;
  margin: 0%;
}
.resForm{
  display: flex;
  width: 25%;
  flex-wrap: wrap;
  height: 100%;
  justify-items: center;
  align-content: flex-start;
}
.sbLabel{
  width: 100%;
}
.resCont{
  height: 100%;
  align-items:center;
}

.image-placeholder {
    width: 100%;
    max-width: 600px;
    height: auto;
    background-color: #a1a1a175;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
}

input, button, select{
    display: block;
    margin: 12px 12px 12px 12px;
    background-color: #20160e;
    width: 100%;
    max-width: 10vw;
    max-height: 30px;
    font-size: 1rem;
    background: radial-gradient(circle , #3f3224bb, #000000a2);
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    white-space: nowrap; /* Verhindert Zeilenumbrüche */
    text-overflow: ellipsis; 
    overflow: hidden;
    
}
input, select{
  text-align: center;
  width: 100%;
  min-width: 33%;
 
}
textarea{
  display: block;
  margin: 6px auto;
  background-color: #20160e;
  width: 100%;
  max-width: 30%;
  height: 150px;
  background: radial-gradient(circle , #818181, #000000);
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  
  white-space: nowrap; /* Verhindert Zeilenumbrüche */
  text-overflow: ellipsis; 
  
}

input::placeholder{
  color: white;
}
select option{
  background-color: #363636;
}
select option:hover{
  background-color: #0f0a05;
}


button {
    
    color: white;
    cursor: pointer;
    box-shadow:  2px 2px 10px rgba(0, 0, 0, 0.514);
    
    
}

button:hover {
  background: radial-gradient(circle , #818181, #000000);
    text-shadow:0 0 10px #ffffff,
    0 0 15px #b6b6b6,
    0 0 25px #5f5f5f,
    0 0 35px #000000;
    
}
button:active{
    box-shadow:  2px 2px 10px rgba(0, 0, 0, 0.514);
    transform: scale(.97);
    }


select{
   
    
    max-height: 50px;
}





.reservation-list, .menu-list {
    width: 80%;
    background-color: #2c241c;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

.menu{
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: text-shadow 0.3s ease, color 0.3s ease;
}


.menu:hover{
    color: #fdf5aa;
    text-shadow:0 0 15px #ffffff,
    0 0 20px #ffffffd3,
    0 0 30px #b6b6b6,
    0 0 40px #6d6d6d;
}

.topHref{
  padding: 12px;
  height: 60px;
  width: 450px;

  justify-content: center;


}
#adresse{
    display: inline;
    align-items: center;
}
#anmeldung {
    display: flex;
    justify-content: center; /* Zentriert den Inhalt */
    gap: 50px; /* Abstand zwischen den Formularen */
    padding: 20px;
}

#anmeldung div {
    flex: 1; /* Beide Blöcke nehmen gleich viel Platz ein */
    max-width: 400px; /* Begrenzung der Breite */
}
form {
    width: 90%;
    padding: 2vh 0 2vh 0 ;
    gap: 10px;
    border:  5px #000000;
    border-radius: 5px;
    background: radial-gradient(circle , #919191, #000000);
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.671);
    justify-items: center;
    
}
#adminSection, #adminSectionLow, #employSection, #employSectionLow {
  display: none;
}
.admin-form{
  width: 100%;
}
.allergens{
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .allergens label  {
    display: flex;
    min-width: 20%;
    white-space: nowrap;
    text-align: left;
    align-items: center;
    justify-content: left;
  }
  .allergens label input{
    margin:0%;
    
    width: 0;
  }
h2{
    text-shadow: 2px 2px 10px rgb(0, 0, 0);

}
h1{
    text-shadow: 2px 2px 10px #000000;

}

#reservation-list{
    display: inline-block;
}
.reservation-tab{
  justify-items: center;
    background: radial-gradient(circle ,#818181, #000000);
    /*background-color: #442e1d;*/
    width: 33%;
    box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000; 
    margin: 12px;
    padding: 12px;
    border:  10px black;
    border-radius: 15px;
    
}

#reservation-form{
  padding-top: 15px ;
  justify-content: space-evenly ;
  width: 95%;
  
  border:  15px black;
}
.reservation-section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  
}
.form{
  padding: 15px 0px 15px 0px;
  width: 100%;
  
}

.userLabel{
    
    background-color: #3f3f3f;
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
    padding: 3px;
    margin: 20px;
}
.gericht{
    text-decoration: underline;
   
}

.menuPic{
    max-width: 30%;
    
    box-shadow: 5px 5px 5px rgb(248, 248, 248);   
    object-fit: cover;
    object-position: top center;
    filter:invert(drop-shadow );
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px ;
   
    
}
/* Allgemeines Styling für alle Tabellen */
table {
    
    table-layout: auto;
    border-collapse: collapse; /* Keine doppelten Ränder */
    margin: 20px auto; /* Abstand um die Tabelle */
    word-wrap: break-word; /* Zeilen umbrechen, wenn der Text zu lang ist */
}

/* Styling für die Tabellenüberschriften */
th {
    position: sticky; /* Fixiert die Überschrift */
    top: 0; /* Positioniert die Überschrift oben */
    z-index: 2; /* Stellt sicher, dass die Überschrift über den Zellen bleibt */
    margin:0;
    border: none;
    background-color: #353535;; /* Grüne Hintergrundfarbe */
    color: white; /* Weiße Schriftfarbe */
    padding: 12px 15px; /* Abstand innerhalb der Zellen */
    text-align: left; /* Text linksbündig */
    font-weight: bold; /* Fettdruck */
    width: auto;
   
}

/* Styling für Tabellenzellen */
td {
    padding: 0px 2px 0px 2px; /* Abstand innerhalb der Zellen */
    text-align: center; /* Text linksbündig */
    font-size: 1rem;
    height: 5vh;
    width: 18%;
    overflow: hidden;
    
}
.price{
  text-align: right;
  white-space: nowrap;
}

/* Styling für gerade und ungerade Zeilen (Zebra-Streifen) */
tr:nth-child(even) {
    background-color: #353535;; /* Helles Grau für gerade Zeilen */
}

tr:hover {
    background-color: #bdbdbd; /* Hellt die Zeile auf, wenn man mit der Maus darüber fährt */
    color: #000000;
}

/* Stil für Tabellen, die breiter als der Bildschirm sind (mit horizontalem Scrollen) */


.dishBox{
  width: 100%;

}
.dishCont{
    display: flex;
           
    width:75%;
    align-items: top;
    justify-content: center;
    margin-top: 10px;
    background: radial-gradient(circle, #818181, #000000);
    padding: 15px;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
     
}
.dishCont.first {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-top: 15px;
}
.dishDescBox{
  position: relative;
  display: flex;
  min-height:55% ;
  max-height: 55%;
  justify-items: left;
  justify-content: space-around;
  transition: opacity 0.5s;
  pointer-events: none;
  margin-bottom: 1%;
}


.dishCont.last {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-bottom: 15px;
  
}
.dishText{
  width: 70%;
  transition: transform 0.7s ease;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  
}

.dishInfoBtn{
  position: absolute;
  top: 70%;
  right: 10%;
  width: 2vw;
  height: 2vw;
  border-radius: 50px;
  font-size: 0.5rem;
  pointer-events: all;
  
  
}
.dish{
    flex: 1;
    min-height: 120px;
    max-height: 15vh;
    background-color: #201a14;
    box-shadow: -5px 5px 5px rgba(117, 90, 54, 0.301);
    
    
    color: silver;
    font-style: inherit;
    
}



.profile-wrap{
    display: flex;
    justify-content: center;   /* Zentriert horizontal */
    align-items: center;       /* Optional: auch vertikal */
    padding: 2rem;
}
.profile-block{
    
    display: flex;
    flex-direction: column;
    
    /*gap: 0.5rem;*/
    background-color: #585858; /* Dein brauner Stil */
    padding: 1rem 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    max-width: 40vw;
}
.profile-section {
    display: flex;
    
   
    color: #fff;
   
}


.label {
    width: 100px;
    text-decoration: underline;
    font-weight: bold;
    text-align: left;
}

.value {
    flex: 1;
    margin: 5px;
    padding-left: 1rem;
    text-align: left;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    z-index: 1000;
    
  }
  
  .modal-content{
    background: radial-gradient(circle , #818181, #000000);
    padding: 20px auto;
    border-radius: 10px;
    border: 10px rgb(20, 10, 3);
    color: #fff;
    min-width: 20vw;
    max-width: 60vw;
    box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
    justify-items: center;
    box-sizing: border-box;
    justify-content: center;
    padding: 2%;
  }
 
  #orderModal{
    padding: 2% 0 2% 0;
    width: 100%;
    
    justify-content:space-evenly;
  }
  
  .order{
    background: radial-gradient(circle , #818181, #000000);
    
    border-radius: 10px;
    
    color: #fff;
    width: 35%;
    height: 95%;
    box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
  }
  /*.orderLabel{
    position: sticky;
    top: 0;
    z-index: 10;
    margin: 0%;
    padding: 1vh;
  }*/
  .orderBtns{
    display: flex;
    justify-content: space-evenly;
    background: radial-gradient(circle , #818181, #000000);
    padding: 20px;
    border-radius: 10px;
    border: 10px rgb(20, 10, 3);
    color: #fff;
    min-width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  }
 
  .orderList li{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
  }
  
  #choseConten {
    
    display: flex; /* Aktiviert Flexbox */
     /* Stapelt die Kinder vertikal */
    height: 100%; /* Nimmt die gesamte Höhe der Anzeige ein */
    justify-content: center;
     /* Padding und Border in die Höhe einrechnen */
}

.dish-table {
    position: relative;
    height: 100%; /* Teilt den verfügbaren Platz gleichmäßig */
    overflow-y: auto; /* Scrollen aktivieren, falls nötig */
    width: 100%;
    margin-top: 2%;
    padding: 0%;
    justify-content: center;
    border:0;

     /* Padding und Border in die Höhe einrechnen */
}

.orderList, .histList {
    position: relative;
    height:37%;
    width: 100%;
    overflow-y: auto; /* Scrollen aktivieren, falls nötig */
    margin: 0%;
    padding:0;
    background: radial-gradient(circle , #818181, #000000);
    border: 0;
}


  
#histList, #orderList, #dish-table{
  margin: 0 auto;
  padding: 0%;
  width: 90%;
  overflow-y: auto; 
}
.delBtn, .delHistBtn{
  width: 50px;
  height: 50px;
  color: rgb(252, 203, 71);
  text-shadow: 3px black;
}
#orderListContainer{
  background: #000000;
  border-radius: 10px;
  height: 95%;
  width: 35%;
  box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
    align-content: space-evenly;
    justify-items: center;
}

#dish-table tbody tr {
  min-height: 70px; /* Einheitliche Höhe für jede Zeile */
}

#dish-table td {
  vertical-align: middle; /* Zentriert den Inhalt vertikal */
  text-align: center; /* Optional: Text linksbündig */
}
#dish-table td.price {
  text-align: right;
}
#dish-table td.btn, #orderList td.btn, #histList td.btn, td.doneCheckbox{
justify-items: center;
  
}

#guests{
  width: 100%;
  justify-items: center;
}

  .guest-button.active{
    box-shadow: 
    0 0 10px #f7e584,
    0 0 20px #f5da42,
    0 0 30px #f0a22f,
    0 0 40px #f3853c;  
  }
  .dishBtn{
    margin: 0px 5px 0px 5px ;
    
    width: 20%;
    height: 50%;
 
  }
  .dishBtns{
    max-height: 50px !important;
    max-width: 50px !important;
    color: #7bbb81;
    
  }
  .dishBtns:hover{
    text-shadow: 
    0 0 10px #9bf784,
    0 0 20px #57f542,
    0 0 30px #5cf02f,
    0 0 40px #61f33c;  
    box-shadow: 
    0 0 10px #9bf784,
    0 0 20px #57f542,
    0 0 30px #5cf02f,
    0 0 40px #61f33c;  
  }
  .price{
    text-align: right;
  }
  .dishBtn.active{
    box-shadow: 
    0 0 10px #f7e584,
    0 0 20px #f5da42,
    0 0 30px #f0a22f,
    0 0 40px #f3853c;
  }
  #orderModal{
    width: 95%;
     align-items:flex-start;
     padding: 2vh 2vw 2vh 2vw;
     justify-content: space-evenly

  }

  
  .delBtn:hover, .delHistBtn:hover{
    box-shadow: 
    0 0 10px #f7e584,
    0 0 20px #f5da42,
    0 0 30px #f0862f,
    0 0 40px #f33c3c;
  }
  .roomSave {
    position: relative;
    width: 800px;
    height: 500px;
    border: 2px dashed #ccc;
    background-color: #f7f7f7;
    overflow: auto;
    
  }

  .roomLoad {
    display: none;
    position: relative;
    width: 800px;
    height: 500px;
    border:  outset 5px #000000;
    background-color: #a8a8a8;
    margin: 2% auto;  
    box-sizing: border-box;
    box-shadow: 0 0 50px rgb(0, 0, 0);

  }
  .roomScale{
  
    transform-origin: top left;
   
  }
  .roomName{
    justify-items: center;
  }
  .room{
    width: 100%;
    height: max-content;
    background-color: #00000096;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
    border-radius: 10px;

  }
  
  .table {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
  }
  .actTable {
    width: 15%;
    height: 8vh;
    margin: 1%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 1rem;
     box-shadow: 
    0 0 2px #9bf784,
    0 0 5px #57f542,
    0 0 10px #5cf02f,
    0 0 15px #61f33c;  
  }
  
   
#serviceManager{
  align-items: center;
  width: 90%;
  background-color: #0000007e;
}
  
  .serviceRoom{
    width: 10%;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    margin: 0px 30px 0px 30px;
  }
  .resizer {
    width: 10px;
    height: 10px;
    background: #007BFF;
    position: absolute;
    right: 3px;
    bottom: 5px;
    cursor: se-resize;
  }
  
  .newTable {
    background-color: green;
    cursor: move;
  }
  
  .free {
    background-color: #6e6e6e;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
    border: 5px;
    border-color: #201a14;
  }
  .occupied-wait{
    background-color: #1f1f1f;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
    color: red;
    
  }
  .occupied-active{
    background-color: #1f1f1f;
    color: rgb(30, 255, 0);
    
   
  }
  .free:hover{
    background-color: #d3d3d3;
    color: #000000;
    transform: scale(1.1);
  }
  .occupied-wait:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 
    0 0 2px #f78484,
    0 0 5px #f54242,
    0 0 10px #f02f2f,
    0 0 15px #f33c3c;  
  }
  .occupied-active:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 
    0 0 2px #9bf784,
    0 0 5px #57f542,
    0 0 10px #5cf02f,
    0 0 15px #61f33c;  
  }
  .tooltip-box {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 8px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 1rem;
    z-index: 10;
  }
  
  .table:hover .tooltip-box {
    visibility: visible;
    opacity: 1;
  }
  .avtiveService{
    font-size: 1rem;
    color: #088512;
  }
  .tab{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    justify-items: center;
    /*position:static;*/
    border-radius: 10px;
    padding: 0%;
    
    background: radial-gradient(circle , #919191, #000000);
    box-sizing: border-box;
    
   
  }
  .tabs{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: radial-gradient(circle , #919191, #000000);
    border-radius: 15px;
    box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
    box-sizing: border-box;

  }

  .tabBtn{
    margin-left: 10px;
    margin-right: 10px;
  }

  .toolbar{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
  }
  
  
  .modItem{
    margin: 5px 2px;
  }
  .serviceTab{
    display: flex;
  }
  .sidebarElement{
    display: flex;
    justify-content: center;
    margin-top: 8px auto;
  }
  .sidebar{
    width: 100%;
    display: flex;
    margin: 2px;
    padding: 2px;
    justify-content: space-around;
    align-items: top;
    height: auto;
   
  }
  .confirmPopup{
    font-size: 1rem;
    width: 20vw;
    height: 20vh;
    background: radial-gradient(circle , #818181, #000000);
    padding: 20px;
    border-radius: 10px;
    border: 10px rgb(20, 10, 3);
    justify-items: center;

  }
  #main-menu {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

#main-menu ul li {
    display: inline;
}

.menu-button {
    visibility: hidden; /* Unsichtbar, aber im DOM */
    opacity: 0; /* Unsichtbar */
    transition: opacity 0.3s ease;
    position: absolute;
    aspect-ratio: 1/1;
    top: -10px;
    right: -80px;
    
    border: none;
    
    padding: 3px 5% 5px 5%;
    font-size: 1rem;
    cursor: pointer;
    z-index: 1001;
    box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
}
.menu-button:hover {
   text-shadow: 
     0 0 5px #ffffff,
    0 0 10px #b6b6b6,
    0 0 20px #5f5f5f,
    0 0 30px #000000;
    
}
li{
  text-align: left;
}

.side-menu {
    display: none; /* Verstecke das Seitenmenü standardmäßig */
    position: fixed;
    align-items: center;
    text-align: left;
    padding-left: 10%;
   
    top: 2%;
    left: -250px; /* Schiebe das Menü aus dem sichtbaren Bereich */
    width: 250px;
    aspect-ratio: 1/1.3;
    background-color: #000000d8;
    color: white;
    box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
    padding: 20px;
    z-index: 1000;
    transition: left 0.5s ease;
    box-sizing: border-box;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li {
    margin: 10px 0;
}

.side-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.side-menu ul li a:hover {
    color: #ffe44b;
    transform: scale(2);
}
.side-menu ul li a:hover {
   display: inline-block;
    transform: scale(1.2);
}

/* Media Query für kleinere Bildschirme */
@media (max-width: 1300px) {
  header{
    position: absolute;
  }
    #main-menu {
        display: none; /* Verstecke das Hauptmenü */
    }

    .menu-button {
        visibility: visible;
        opacity: 1;
        border-radius: 45px;
        width: 60px;
        height: 60px;
        padding-bottom: 12px;
        
    }
    .side-menu{
      display: block;

    }
    .image-container{
      display: none;
    }
    .image-container img{
      display: none;
    }
    .content{
      
      width: 100%;
      margin-top: 0%
    };
    .container{
      transform: scale(calc(100vw / 1920)); /* Skaliert basierend auf der Bildschirmbreite */
      transform-origin: top left;
    }
   
    
  }
   @media (max-width: 750px) {

    .dishDescBox {
        display: flex;
        justify-content: left;
        width: 100%;
        margin: 2%,0,0,0; 
        height: 60%;   
        opacity: 0;
      }
        
    .dish{
      
      align-content: space-evenly;
      display: block;

    }
    .dishDesc{
      font-size: 0.8rem;
      width: 80%;
    }

    .dishPrice{
      margin: 2% 2% 2% 2%;
      position: relative;
      bottom: 0%;
    }
    .container{
      display: flex;
      flex-direction: column;
      width: 90vw;
      justify-content: center;
      justify-items: center;
      align-content: space-evenly;
      align-items: center;
      padding: 0%;
      box-sizing: border-box;
      overflow-x: hidden;
    }
    .content{
      display: block;
    }
    .form{

      width: 80vw;
    }
    header{
      display: none;
    }
    .main-container{
      margin-top: 0%;
    }
    .reservation-section{
      display: block;
      justify-content: center;
      justify-items: center;
    }
    .reservation-tab{
    justify-items: center;
    background: radial-gradient(circle ,#818181, #000000);
    /*background-color: #442e1d;*/
    width: 95%;
    box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000; 
    
    box-sizing: border-box;
    
    }

    #reservation-form{
    padding: 0%;
    justify-content: center ;
    width: 95%;
  
    }
    input, select, button {
      max-width: 70vw;
    }
    .roomSelect{
     
      justify-items: center;
      overflow-y:unset;
      max-width: 80vw;
      max-height: max-content;
      
    }
    .sidebar{
      display: flex;
      flex-direction: column;
    }
    .profile-block{
      max-width: 80vw;
    }
    .modal{
      flex-direction: column;
      justify-content: center;
      align-content: space-evenly ;
      overflow-y: auto;
      
    }
    .modal-content{
      max-width: 100%;
      margin-top: 3%;
      flex-direction: row;
      width: 90vw;
      }
    #orderListContainer{
      margin-top: 3%;
      width: 90vw;
      height: max-content;

    }
    .order{
      margin-top: 3%;
      width: 90vw;
      height: 100vh;
      justify-content: center;
      justify-items: center;
    }
    .orderList ,.histList{
      height: 60vh;
      width: 80%;
      
    }
    td, th{
      font-size: 0.7rem;
      padding: 1% 0% 1% 0%;
      white-space: wrap;
      min-width: min-content;
      text-align: center;
    }
    
    .dish-table{
      overflow-y: auto;
      overflow-x: hidden;
      height: 60vh;
      width: 80vw;
    }
    .orderBtns{
      flex-direction: column;
      width: 80vw;
      justify-content: center;
      box-sizing: border-box;
      padding: auto;
    }
    .dishBtn{
      margin-top: 1%;
      width: 80vw;
      margin: 1% 0 0 0 ;
    }
    .guest-button{
      margin: 1% 0 0 0 ;
    }
    .confirmPopup{
    font-size: 1rem;
    width: 50vw;
    height: 20vh;
    }
    .serviceRoom, .actTable.occupied-active{
      font-size: 0.7rem;
    }
    .roomLoad{
      border: none;
    }
    .resForms{
      justify-items: center;
      padding: 0%;
    }
    .dishCont {
    position: relative;
    width: 90%;
    height: 20vh;
    border-radius: 0%;
    margin: 1%;
    padding: 0%;
     box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
    }
    .dishCont.first {
  border-radius: 0%;
  padding: 0%;
  }
  

.dishCont.last {
  border-radius: 0%;
  padding: 0%;
  }
  .speise{
    display: flex;
    justify-content: center;
    
  }
  

    .dish {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    border-radius: 0%;
    margin: 0%;
    
    }

    .dishText {
    
    transform-origin: top left;
    background: radial-gradient(circle , #818181, #000000);
   
    color: #ffffff;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: top;
    justify-content: left;
    clip-path: polygon(0 0,100% 0,100% 17%,2% 17%,25% 100%, 0% 100%);
    transition: clip-path 0.7s;
    z-index: 2;
    }
    .dishCont:hover .dishText{
      clip-path: polygon(0 0,100% 0,100% 75%,50% 75%, 30% 100%, 0% 100%);
      transform: scale(1);
    }
    .dishCont:hover .dishDescBox{
      opacity: 1;
    }
    
    .dishInfoBtn{
      position: absolute;
      top:10%;
      right: 0%;
      width: 10vw;
      height: 10vw;
      max-width: 20vw;
      max-height: 20vw;
     
      }

    .menuPic {
    
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    z-index: 1;
    }
   .table{
    font-size: 1.2rem;
   }
    
    #orderGrid{
  width: 95vw;
  display: flex;
  flex-direction: column;

  overflow: visible;
}
.orderBox{
 display: flex;
 flex-direction: column;
background: radial-gradient(circle , #818181, #000000);
border-radius: 15px;
box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;


}
.orderLabel{
  min-width: 100%;
  display: flex;
  justify-content: center;
  padding: 2%;

}
.dishList {
  max-height: 0;
  max-width: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-x: hidden;
  transition: max-height 0.5s, max-width 0.5s, opacity 0.5s;
  display: block; /* oder flex, je nach Layout */
}
.orderBox.active .dishList {
  max-height: 50vh;
  min-width: 30%; /* groß genug für alle Einträge */
  opacity: 1;
  padding: 1%;
  overflow-y:scroll;
  
}
.orderBox.active {
min-width: 98vw;
height: max-content;
max-height: 100vh;
position: fixed;
top:0%;
left:0.5vw;
align-content: start;
z-index: 10;

}
.boxLabel{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  
  font-size: 0.8rem;
}


}
  /* Gesamte Scrollleiste */
::-webkit-scrollbar {
    width: 12px; /* Breite der vertikalen Scrollleiste */
    height: 12px; /* Höhe der horizontalen Scrollleiste */
}

/* Hintergrund der Scrollleiste */
::-webkit-scrollbar-track {
    background: #000000; /* Farbe des Scrollleisten-Hintergrunds */
    border-radius: 10px; /* Abgerundete Ecken */
}

/* Scrollbalken (Thumb) */
::-webkit-scrollbar-thumb {
    background: #919191; /* Farbe des Scrollbalkens */
    border-radius: 10px; /* Abgerundete Ecken */
}

/* Scrollbalken beim Hover */
::-webkit-scrollbar-thumb:hover {
   background: #dfdfdf; /* Ändert die Farbe des Thumbs */
   box-shadow: 
     0 0 5px #ffffff,
    0 0 10px #b6b6b6,
    0 0 20px #5f5f5f,
    0 0 30px #000000;
  width: 16px; 
}
