body {
    font-family: 'Georgia', cursive;
    font-size: 1rem;
    background: radial-gradient(circle , #303030, #000000);
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
    min-width: 360px;
    overflow-x: auto;
    
   
}
html {
  scroll-behavior: smooth;
}
strong{
  font-size: 1em;
}
p{
  font-size: 1em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  margin: 0%;
  background: radial-gradient(circle , #303030, #000000);
  padding-bottom: 15px;
  color: #e0e0e0;
  text-shadow:0 0 5px #ffffff,
    0 0 10px #b6b6b6,
    0 0 20px #5f5f5f,
    0 0 30px #000000;
  border-radius: 10px;
  border: outset 2px;
  justify-content: center;
  box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
    box-sizing: border-box;
    
}


nav{
  padding: 0%;
    width: 100%;
    margin-top: 10px;
    justify-items: center;
    padding: 0%;
    gap: 1rem;
    flex-wrap: wrap;
    filter: drop-shadow(-10px -10px 10px 0 #ffffff);
    border-radius: 10px;
    border: 10px #00000081;
    
}
nav ul {
    list-style: none;
    width: 50vw;
   
    padding: 0%;
    display: flex;
    justify-content:space-evenly;
    background: #382c23;
    gap: 15px;
    border-radius: 10px;
    border:  10px #00000081;
    background: radial-gradient(circle , #818181, #000000);
    box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
    
   
    
}
#orderGrid{
  width: 95vw;
  display: grid;
  grid-template-columns: repeat(5 ,1fr);
  grid-template-rows: minmax(0, 15vh);
  overflow: visible;
}
h3{
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 2%;
  margin: 0%;
  border-radius: 15px;
}
.orderBox{
  max-height: 90%;
  min-width: 90%;
display: flex;
justify-content: space-evenly;
align-content: center;
background: radial-gradient(circle , #818181, #000000);
border-radius: 15px;
box-shadow:
    0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
padding: 2%, 25%,2%,0;
margin: 5px;
transition: max-height 1s, opacity 1s;
flex-wrap: wrap;


}
.orderLabel{
  position: sticky;
  top: 0;
  min-height: 5vh;
  min-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  z-index: 1000;
  background: radial-gradient(circle , #818181, #000000);
}
.dishList {
  padding: 0%;
  max-height: 0;
  max-width: 0;
  opacity: 0;
  padding: 0%;
  display: block;
  overflow-x: hidden;
  transition: max-height 0.5s, max-width 0.5s, opacity 0.5s;
  margin:0;
  
}
.new {
  color: #ffffff;
  text-shadow: 
    
    0 0 10px #f5da42,
    0 0 15px #f0a22f; 
}
.menu.active{
  color: yellow;
  text-shadow:  0 0 10px #f5da42,
                0 0 15px #f0a22f ;
}
.inProgress{
  color: #ffffff;
  text-shadow:   
    
    0 0 10px #42daf5,
    0 0 15px #2fc9f0;
}
.done{
  color: #ffffff;
  text-shadow:   
    
    0 0 10px #ff02dd,
    0 0 15px #b1028b;
}
.served{
  color: #59fa19;
  text-shadow:   
    
    0 0 10px #02ff38,
    0 0 15px #02b10a;
}

#guestInOrder{
      min-width: 100%;
      
    }

.orderBox.active .dishList {
  max-height: 80%;
  min-width: 30%; /* groß genug für alle Einträge */
  opacity: 1;
  
  overflow-y: scroll;
  margin-bottom: 40px;
  
}
.orderBox.active {
min-width: 98vw;

height: 70vh;
position: fixed;
top:20%;
left:0.5vw;
align-content: start;
z-index: 10;
overflow-x: hidden;

}

.boxLabel{
  display: block;
  width: 100%;
  
  font-size: 0.8rem;
}
.clsBtn{
  display: none;
}
.orderBox.active .clsBtn{
display: block;
 position:absolute;
 top:0;
 left: 0 ;
}
.orderBox.active .boxLabel{
  display: flex;
  justify-content: space-around;
}

.hidden-role{
  display: none !important;
}


nav ul li {
    display: inline;
    
}
.loginLink{
  display: flex;
  justify-content: center;
  justify-self: right;
  width: 12vw;
}

nav a {
    color: #d4d4d4;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    

}



#dishSkip{
  flex-direction: column;
  font-size: 0.8rem;
  list-style-position: inside;
  margin-left: 2em;
}
#dishSkip li{
  margin:0%;
  padding-top: 2%;
}

.main-container{
    margin-top: 185px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.content{
    
    position: relative;
    width: 100%;
    justify-items: center;
    box-sizing: border-box;
   
   
}

.orderListItem{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-left:2vw ;
  font-size: 1rem;
  width: 50%;
  white-space: normal;
  word-break: break-word;
}
.tblOrder{
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.orderState{
  max-width: 50%;
  min-width: 50%;
  text-align: center;
}
.changeBtn{
  background-color: #000000;
  height: 100%;
  padding: 2vh;
  border: inherit white 2px;
}
.changeBtn.For{
  margin: 0;
  padding: 0%;
  width: 25%;
  clip-path: polygon(0% 15%, 80% 15%, 80% 0%, 100% 50%, 80% 100%, 80% 85%, 0% 85%);
}
.changeBtn.Back{
  margin: 0;
  padding: 0%;
  width: 25%;
  clip-path: polygon(0% 50%, 15% 0%, 15% 15%, 100% 15%, 100% 85%, 15% 85%, 15% 100%);
}
.changeBtn.Back.new, .changeBtn.Back.inProgress, .changeBtn.Back.served, .delHistBtn.served, .delHistBtn.inProgress{
  pointer-events: none;   
  opacity: 0.5;           
  cursor: not-allowed;
}
.changeBtn.For.done ,.changeBtn.For.served{
   pointer-events: none;   
  opacity: 0.5;           
  cursor: not-allowed;
}
.btn{
  min-height: 100%;
  width: 100%;
  display: flex;
  text-shadow: 
    0 0 2px #00eeff,
    0 0 5px #00c4ba,
    0 0 10px #006e6e,
    0 0 20px #001d22;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.image-container {
    
    
    width: 15%;           /* Sichtfenster-Breite */
    height: 75vh;          /* Sichtfenster-Höhe */
    overflow: hidden;       /* Nur sichtbaren Bereich anzeigen */
    position: relative;
    border-radius: 10px;
    border: 10px white;
    margin: 15px;
    border: 5px rgba(255, 255, 255, 0.514);
    border-style: outset;
    box-sizing: border-box;
   
  }
  
  .image-container img {
    position: absolute;
    animation: slide-image 15s infinite alternate ease-in-out;
    height: 100%;           /* Skaliert das Bild in Höhe */
    left: 0;
  }
  .tdstate{
    text-align: center;
   }
  /* Animation: schwenken von links nach rechts und zurück */
  @keyframes slide-image {
    from {
      left: 0;
    }
    to {
      left: -800px; /* Passe das an die Bildgröße an */
    }
  }
.container {  
    
    width: 100%;    
    background: radial-gradient(circle , #818181, #000000);
    box-shadow:   0 0 5px #ffffff,
    0 0 10px #b6b6b6,
    0 0 20px #5f5f5f,
    0 0 30px #000000; 
    border-radius: 15px;
    margin-top: 15px;
    max-width: 100%; /* Maximale Breite auf 100% setzen */
    justify-content: space-evenly;
    justify-items: center;
    box-sizing: border-box;
    
    
}



.loginForm{
  justify-items: center;
}
#reservation-table{
  padding: 0%;
  margin: 0%;
}
.resForms{
 
  height:70%;
  overflow-y: auto;
  padding: 0%;
  margin: 0%;
}
.resForm{
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  height: 100%;
  justify-items: center;
  justify-content: center;
  align-content: center;
}
.sbLabel{
  width: 100%;
}
.resCont{
  height: 100%;
  align-items:center;
}

.image-placeholder {
    width: 100%;
    max-width: 600px;
    height: auto;
    background-color: #a1a1a175;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
}

input, button, select{
    display: block;
    margin: 12px 12px 12px 12px;
    background-color: #20160e;
    width: 100%;
    max-width: 10vw;
    max-height: 30px;
    font-size: 1rem;
    background: radial-gradient(circle , #3f3224bb, #000000a2);
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    white-space: nowrap; /* Verhindert Zeilenumbrüche */
    text-overflow: ellipsis; 
    overflow: hidden;
    
}

textarea{
  display: block;
  margin: 6px auto;
  background-color: #20160e;
  width: 100%;
  max-width: 30%;
  height: 150px;
  background: radial-gradient(circle , #818181, #000000);
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  
  white-space: nowrap; /* Verhindert Zeilenumbrüche */
  text-overflow: ellipsis; 
  
}

input::placeholder{
  color: white;
}
select option{
  background-color: #363636;
}
select option:hover{
  background-color: #0f0a05;
}


button {
    
    color: white;
    cursor: pointer;
    box-shadow:  2px 2px 10px rgba(0, 0, 0, 0.514);
    
    
}

button:hover {
  background: radial-gradient(circle , #818181, #000000);
    text-shadow:0 0 10px #ffffff,
    0 0 15px #b6b6b6,
    0 0 25px #5f5f5f,
    0 0 35px #000000;
    
}
button:active{
    box-shadow:  2px 2px 10px rgba(0, 0, 0, 0.514);
    transform: scale(.97);
    }


select{
   
    
    max-height: 50px;
}





.reservation-list, .menu-list {
    width: 80%;
    background-color: #2c241c;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

.menu{
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: text-shadow 0.3s ease, color 0.3s ease;
}


.menu:hover{
    color: #fdf5aa;
    text-shadow:0 0 15px #ffffff,
    0 0 20px #ffffffd3,
    0 0 30px #b6b6b6,
    0 0 40px #6d6d6d;
}

.topHref{
  padding: 12px;
  height: 60px;
  width: 450px;

  justify-content: center;


}
#adresse{
    display: inline;
    align-items: center;
}
#anmeldung {
    display: flex;
    justify-content: center; /* Zentriert den Inhalt */
    gap: 50px; /* Abstand zwischen den Formularen */
    padding: 20px;
}

#anmeldung div {
    flex: 1; /* Beide Blöcke nehmen gleich viel Platz ein */
    max-width: 400px; /* Begrenzung der Breite */
}
form {
    width: 90%;
    padding: 2vh 0 2vh 0 ;
    gap: 10px;
    border:  5px #000000;
    border-radius: 5px;
    background: radial-gradient(circle , #919191, #000000);
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.671);
    justify-items: center;
    
}
#adminSection, #adminSectionLow, #employSection, #employSectionLow {
  display: none;
}
.admin-form{
  width: 100%;
}
.allergens{
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .allergens label  {
    display: flex;
    min-width: 20%;
    white-space: nowrap;
    text-align: left;
    align-items: center;
    justify-content: left;
  }
  .allergens label input{
    margin:0%;
    
    width: 20px;
  }
h2{
    text-shadow: 2px 2px 10px rgb(0, 0, 0);

}
h1{
    text-shadow: 2px 2px 10px #000000;

}

#reservation-list{
    display: inline-block;
}
.reservation-tab{
  justify-items: center;
    background: radial-gradient(circle ,#818181, #000000);
    /*background-color: #442e1d;*/
    width: 33%;
    box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000; 
    margin: 12px;
    padding: 12px;
    border:  10px black;
    border-radius: 15px;
    
}

#reservation-form{
  padding-top: 15px ;
  justify-content: space-evenly ;
  width: 95%;
  
  border:  15px black;
}
.reservation-section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  
}
.form{
  padding: 15px 0px 15px 0px;
  width: 100%;
  
}

.userLabel{
    
    background-color: #3f3f3f;
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
    padding: 3px;
    margin: 20px;
}
.gericht{
    text-decoration: underline;
   
}

.menuPic{
    max-width: 30%;
    
    box-shadow: 5px 5px 5px rgb(248, 248, 248);   
    object-fit: cover;
    object-position: top center;
    filter:invert(drop-shadow );
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px ;
   
    
}
/* Allgemeines Styling für alle Tabellen */
table {
    
    table-layout: auto;
    border-collapse: collapse; /* Keine doppelten Ränder */
    margin: 20px auto; /* Abstand um die Tabelle */
    word-wrap: break-word; /* Zeilen umbrechen, wenn der Text zu lang ist */
}

/* Styling für die Tabellenüberschriften */
th {
    position: sticky; /* Fixiert die Überschrift */
    top: 0; /* Positioniert die Überschrift oben */
    z-index: 100; /* Stellt sicher, dass die Überschrift über den Zellen bleibt */
    margin:0;
    border: none;
    background-color: #353535;; /* Grüne Hintergrundfarbe */
    color: white; /* Weiße Schriftfarbe */
    padding: 12px 15px; /* Abstand innerhalb der Zellen */
    text-align: left; /* Text linksbündig */
    font-weight: bold; /* Fettdruck */
    width: auto;
   
}

/* Styling für Tabellenzellen */
td {
    padding: 0 1% 0 1%; /* Abstand innerhalb der Zellen */
    text-align: left; /* Text linksbündig */
    font-size: 1rem;
    height: 5vh;
    width: 18%;
    overflow: hidden;
    
}
.price{
  text-align: right;
  white-space: nowrap;
}

/* Styling für gerade und ungerade Zeilen (Zebra-Streifen) */
tr:nth-child(even) {
    background-color: #353535;; /* Helles Grau für gerade Zeilen */
}

tr:hover {
    background-color: #bdbdbd; /* Hellt die Zeile auf, wenn man mit der Maus darüber fährt */
    color: #000000;
}

/* Stil für Tabellen, die breiter als der Bildschirm sind (mit horizontalem Scrollen) */


.dishBox{
  width: 100%;

}
.dishCont{
    display: flex;
           
    width:75%;
    align-items: top;
    justify-content: center;
    margin-top: 10px;
    background: radial-gradient(circle, #818181, #000000);
    padding: 15px;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
     
}
.dishCont.first {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-top: 15px;
}
.dishDescBox{
  position: relative;
  display: flex;
  min-height:55% ;
  max-height: 55%;
  justify-items: left;
  justify-content: space-around;
  transition: opacity 0.5s;
  pointer-events: none;
  margin-bottom: 1%;
}


.dishCont.last {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-bottom: 15px;
  
}
.dishText{
  width: 70%;
  transition: transform 0.7s ease;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  
}

.dishInfoBtn{
  position: absolute;
  top: 70%;
  right: 10%;
  width: 2vw;
  height: 2vw;
  border-radius: 50px;
  font-size: 0.5rem;
  pointer-events: all;
  
  
}
.dish{
    flex: 1;
    min-height: 120px;
    max-height: 15vh;
    background-color: #201a14;
    box-shadow: -5px 5px 5px rgba(117, 90, 54, 0.301);
    
    
    color: silver;
    font-style: inherit;
    
}



.profile-wrap{
    display: flex;
    justify-content: center;   /* Zentriert horizontal */
    align-items: center;       /* Optional: auch vertikal */
    padding: 2rem;
}
.profile-block{
    
    display: flex;
    flex-direction: column;
    
    /*gap: 0.5rem;*/
    background-color: #585858; /* Dein brauner Stil */
    padding: 1rem 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    max-width: 40vw;
}
.profile-section {
    display: flex;
    
   
    color: #fff;
   
}


.label {
    width: 100px;
    text-decoration: underline;
    font-weight: bold;
    text-align: left;
}

.value {
    flex: 1;
    margin: 5px;
    padding-left: 1rem;
    text-align: left;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    z-index: 1000;
    
  }
  
  .modal-content{
   
    background: radial-gradient(circle , #818181, #000000);
    /*padding: 20px auto;*/
    border-radius: 10px;
    border: 10px rgb(20, 10, 3);
    color: #fff;
    min-width: 20vw;
    max-width: 60vw;
    max-height: 95vh;
    width:max-content;
    box-shadow:
    0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
    justify-items: center;
    box-sizing: border-box;
    justify-content: center;
    overflow-y: scroll;
    z-index: 1000;
    
  }
 
  
  
  .order{
    background: radial-gradient(circle , #818181, #000000);
    
    border-radius: 10px;
    
    color: #fff;
    width: 35%;
    height: 95%;
    box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
  }

  .orderBtns{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
    background: radial-gradient(circle , #818181, #000000);
    
    border-radius: 10px;
    border: 10px rgb(20, 10, 3);
    
    
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 900;
    align-items: center;
  }
 
  .orderList li{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
  }
  
  #choseConten {
    
    display: flex; /* Aktiviert Flexbox */
     /* Stapelt die Kinder vertikal */
    height: 100%; /* Nimmt die gesamte Höhe der Anzeige ein */
    justify-content: center;
     /* Padding und Border in die Höhe einrechnen */
}

.dish-table {
    position: relative;
    height: 100%; /* Teilt den verfügbaren Platz gleichmäßig */
    overflow-y: auto; /* Scrollen aktivieren, falls nötig */
    width: 100%;
    margin-top: 2%;
    padding: 0%;
    justify-content: center;
    border:0;

     /* Padding und Border in die Höhe einrechnen */
}

.orderList, .histList {
    position: relative;
    height:37%;
    width: 100%;
    overflow-y: auto; /* Scrollen aktivieren, falls nötig */
    margin: 0%;
    padding:0;
    background: radial-gradient(circle , #818181, #000000);
    border: 0;
}
#BMhistList, #BMorderList{
      margin: 0%;
      min-width: 100%;
      max-height: 90%;
}
.BMorderList, .BMhistList {
    position: relative;
    height:85%;
    min-width: 90%;
    overflow-y: auto; /* Scrollen aktivieren, falls nötig */
    margin: 0%;
    padding:0;
    background: radial-gradient(circle , #818181, #000000);
    border: 0;
}
.billBtn{
  margin-top: 1%;
  min-width: 50%;
  position:absolute;
  bottom: 1%;
  
  text-shadow: 
    0 0 2px #00eeff,
    0 0 5px #00c4ba,
    0 0 10px #006e6e,
    0 0 20px #001d22;
    box-shadow: 
    0 0 2px #00eeff,
    0 0 5px #00c4ba,
    0 0 10px #006e6e,
    0 0 20px #001d22;
}
.bill{
  text-shadow: 
    0 0 2px #f1d474,
    0 0 5px #c4a000,
    0 0 10px #6e5a00,
    0 0 20px #222100;
    
}

.orderList{
  position: relative;
}
  
#histList, #orderList, #dish-table{
  margin: 0 auto;
  padding: 0%;
  width: 90%;
  overflow-y: auto; 
}
.delBtn, .delHistBtn{
  width: 50px;
  height: 50px;
  color: rgb(252, 203, 71);
  text-shadow: 3px black;
}



.orderListContainer, #doneOrderListContainer{
  scroll-snap-align: start;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #000000;
  border-radius: 10px;
  height: 95%;
  width: 35%;
  box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
   align-items: center;
}

#dish-table tbody tr {
  min-height: 70px; /* Einheitliche Höhe für jede Zeile */
}

#dish-table td {
  vertical-align: middle; /* Zentriert den Inhalt vertikal */
  text-align: left; /* Optional: Text linksbündig */
}
#dish-table td.price {
  text-align: right;
}
#dish-table td.btn, #orderList td.btn, #histList td.btn, td.doneCheckbox{
justify-items: center;
  
}

#guests,  #BMguests{
  width: 100%;
  justify-items: center;
}

  .guest-button.active{
    color: #94e0f3;
    box-shadow: 
    0 0 10px #44f3ff,
    0 0 20px #34aab9,
    0 0 30px #1c7888,
    0 0 40px #154b55; 
    text-shadow: 
    0 0 10px #44f3ff,
    0 0 20px #34aab9,
    0 0 30px #1c7888,
    0 0 40px #154b55; 
  }
  .dishBtn{
    margin-top: 1%;
    margin-bottom: 0%;
    
    width: 22%;
    height: 50%;
 
  }
  .dishBtns{
    max-width: 50px;
    max-height: 50px;
    
  }
  .dishBtns:hover{
    text-shadow: 
    0 0 10px #9bf784,
    0 0 20px #57f542,
    0 0 30px #5cf02f,
    0 0 40px #61f33c;  
    box-shadow: 
    0 0 10px #9bf784,
    0 0 20px #57f542,
    0 0 30px #5cf02f,
    0 0 40px #61f33c;  
  }
  .price{
    text-align: right;
  }
  .dishBtn.active{
    color: #f7e584;
    box-shadow: 
    0 0 10px #f7e584,
    0 0 20px #f5da42,
    0 0 30px #f0a22f,
    0 0 40px #f3853c;
  }
  
  #orderModal{
    width: 95%;
     align-items:flex-start;
     padding: 2vh 2vw 2vh 2vw;
     justify-content: space-evenly

  }

  
  .delBtn:hover, .delHistBtn:hover{
    box-shadow: 
    0 0 10px #f7e584,
    0 0 20px #f5da42,
    0 0 30px #f0862f,
    0 0 40px #f33c3c;
  }
  .roomSave {
    position: relative;
    width: 800px;
    height: 500px;
    border: 2px dashed #ccc;
    background-color: #f7f7f7;
    overflow: auto;
    
  }
  .break{
    color: rgb(255, 230, 0);
    text-shadow: 
    0 0 10px #ff0000,
    0 0 20px #a84e4e,
    0 0 30px #5f2e2e,
    0 0 40px #070303;
  }

  .roomLoad {
    display: none;
    position: relative;
    width: 800px;
    height: 500px;
    border:  outset 5px #000000;
    background-color: #a8a8a8;
    margin: 2% auto;  
    box-sizing: border-box;
    box-shadow: 0 0 50px rgb(0, 0, 0);

  }
  .roomScale{
  
    transform-origin: top left;
   
  }
  .roomName{
    justify-items: center;
  }
  .room{
    width: 100%;
    height: max-content;
    background-color: #00000096;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
    border-radius: 10px;

  }
  
  .table {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    position: absolute;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
  }
  .table.done{
    box-shadow:
     0 0 2px #ff00ea,
    0 0 5px #b800ae,
    0 0 10px #580051,
    0 0 20px #2e002c;
  }
  .actTable {
    width: 15%;
    height: 8vh;
    margin: 1%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 1rem;
     box-shadow: 
    0 0 2px #9bf784,
    0 0 5px #57f542,
    0 0 10px #5cf02f,
    0 0 15px #61f33c;  
  }
  
   
#serviceManager{
  align-items: center;
  width: 90%;
  background-color: #0000007e;
}
  
  .serviceRoom{
    width: 10%;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    margin: 0px 30px 0px 30px;
  }
  .resizer {
    width: 10px;
    height: 10px;
    background: #007BFF;
    position: absolute;
    right: 3px;
    bottom: 5px;
    cursor: se-resize;
  }
  
  .newTable {
    background-color: green;
    cursor: move;
  }
  
  .free {
    background-color: #6e6e6e;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
    border: 5px;
    border-color: #201a14;
  }
  .occupied-wait{
    background-color: #1f1f1f;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
    color: red;
    
  }
  .occupied-active{
    background-color: #1f1f1f;
    color: rgb(30, 255, 0);
    
   
  }
  .free:hover{
    background-color: #d3d3d3;
    color: #000000;
    transform: scale(1.1);
  }
  .occupied-wait:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 
    0 0 2px #f78484,
    0 0 5px #f54242,
    0 0 10px #f02f2f,
    0 0 15px #f33c3c;  
  }
  .occupied-active:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 
    0 0 2px #9bf784,
    0 0 5px #57f542,
    0 0 10px #5cf02f,
    0 0 15px #61f33c;  
  }
  .tooltip-box {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 8px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 1rem;
    z-index: 10;
  }
  
  .table:hover .tooltip-box {
    visibility: visible;
    opacity: 1;
  }
  .activeService{
    font-size: 1rem;
    color: #ffffff;
    text-shadow:0 0 5px #4cfa71,
    0 0 10px rgb(0, 255, 0),
    0 0 20px rgb(1, 180, 1);
  }
  .tab{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    justify-items: center;
    /*position:static;*/
    border-radius: 10px;
    padding: 0%;
    
    background: radial-gradient(circle , #919191, #000000);
    box-sizing: border-box;
    
   
  }
  .tabs{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: radial-gradient(circle , #919191, #000000);
    border-radius: 15px;
    box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
    box-sizing: border-box;

  }

  .tabBtn{
    margin-left: 10px;
    margin-right: 10px;
  }

  .toolbar{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
  }
  
  
  .modItem{
    margin: 5px 2px;
  }
  .serviceTab{
    display: flex;
  }
  .sidebarElement{
    display: flex;
    justify-content: center;
    margin-top: 8px auto;
  }
  .sidebar{
    width: 100%;
    display: flex;
    flex: 1;
    margin: 2px;
    padding: 2px;
    justify-content: space-evenly;
    align-items: top;
    height: auto;
   
  }
  .confirmPopup{
    font-size: 1rem;
    width: 20vw;
    height: 20vh;
    background: radial-gradient(circle , #818181, #000000);
    padding: 20px;
    border-radius: 10px;
    border: 10px rgb(20, 10, 3);
    justify-items: center;

  }
  #main-menu {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

#main-menu ul li {
    display: inline;
}

.menu-button {
    visibility: hidden; /* Unsichtbar, aber im DOM */
    opacity: 0; /* Unsichtbar */
    transition: opacity 0.3s ease;
    position: absolute;
    aspect-ratio: 1/1;
    top: -10px;
    right: -40px;
    
    border: none;
    
    padding: 3px 5% 5px 5%;
    font-size: 1rem;
    cursor: pointer;
    z-index: 1001;
    box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
}
.menu-button:hover {
   text-shadow: 
     0 0 5px #ffffff,
    0 0 10px #b6b6b6,
    0 0 20px #5f5f5f,
    0 0 30px #000000;
    
}
li{
  text-align: left;
}

.side-menu {
    display: none; /* Verstecke das Seitenmenü standardmäßig */
    position: fixed;
    align-items: center;
    text-align: left;
    padding-left: 10%;
   
    top: 2%;
    left: -250px; /* Schiebe das Menü aus dem sichtbaren Bereich */
    width: 250px;
    aspect-ratio: 1/1.3;
    background-color: #000000d8;
    color: white;
    box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
    padding: 20px;
    z-index: 1000;
    transition: left 0.5s ease;
    box-sizing: border-box;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li {
    margin: 10px 0;
}

.side-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.side-menu ul li a:hover {
    color: #ffe44b;
    transform: scale(2);
}
.side-menu ul li a:hover {
   display: inline-block;
    transform: scale(1.2);
}
::-webkit-scrollbar {
    width: 5px; /* Breite der vertikalen Scrollleiste */
    height: 5px; /* Höhe der horizontalen Scrollleiste */
}

/* Hintergrund der Scrollleiste */
::-webkit-scrollbar-track {
    background: #ffffff; /* Farbe des Scrollleisten-Hintergrunds */
    border-radius: 2px; /* Abgerundete Ecken */
}

/* Scrollbalken (Thumb) */
::-webkit-scrollbar-thumb {
    background: #00eeff34; /* Farbe des Scrollbalkens */
    border-radius: 2px; /* Abgerundete Ecken */
    box-shadow: 
     0 0 5px #00eeff,
    0 0 10px #0097bd,
    0 0 20px #005463,
    0 0 30px #00171b;
  }

/* Scrollbalken beim Hover */
::-webkit-scrollbar-thumb:hover {
   background: #00ffdd8e; /* Ändert die Farbe des Thumbs */
   
  width: 6px; 
}


/* Media Query für kleinere Bildschirme */
@media (max-width: 1300px) {
  header{
    position: absolute;
  }
    #main-menu {
        display: none; /* Verstecke das Hauptmenü */
    }

    .menu-button {
        visibility: visible;
        opacity: 1;
        border-radius: 45px;
        width: 40px;
        height: 100px;
        padding-bottom: 12px;
        
    }
    .side-menu{
      display: block;

    }
    .image-container{
      display: none;
    }
    .image-container img{
      display: none;
    }
    .content{
      
      width: 100%;
      margin-top: 0%
    };
    .container{
      transform: scale(calc(100vw / 1920)); /* Skaliert basierend auf der Bildschirmbreite */
      transform-origin: top left;
    }
   
    
  }
   @media (max-width: 750px) {
    .first{
      position: relative;
      top: 25vh;
    }
    .second{
      position: relative;
      top:50vh;
    }
   

    .dishDescBox {
        display: flex;
        justify-content: left;
        width: 100%;
        margin: 2%,0,0,0; 
        height: 60%;   
        opacity: 0;
      }
        
    .dish{
      
      align-content: space-evenly;
      display: block;

    }
    .dishDesc{
      font-size: 0.8rem;
      width: 80%;
    }

    .dishPrice{
      margin: 2% 2% 2% 2%;
      position: relative;
      bottom: 0%;
    }
    .container{
      display: flex;
      flex-direction: column;
      width: 90vw;
      justify-content: center;
      justify-items: center;
      align-content: space-evenly;
      align-items: center;
      padding: 0%;
      box-sizing: border-box;
      overflow-x: hidden;
    }
    .content{
      display: block;
    }
    .form{

      width: 80vw;
    }
    header{
      display: none;
    }
    .main-container{
      margin-top: 0%;
    }
    .reservation-section{
      display: block;
      justify-content: center;
      justify-items: center;
    }
    .reservation-tab{
    justify-items: center;
    background: radial-gradient(circle ,#818181, #000000);
    /*background-color: #442e1d;*/
    width: 95%;
    box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000; 
    
    box-sizing: border-box;
    
    }

    #reservation-form{
    padding: 0%;
    justify-content: center ;
    width: 95%;
  
    }
    input, select, button {
      min-height: 4vh;
      max-width: 40vw;
      margin: 2%;
      padding: 0%;
    }
    .roomSelect{
     
      justify-items: center;
      overflow-y:unset;
      max-width: 80vw;
      max-height: max-content;
      
    }
    .sidebar{
      display: flex;
      flex-direction: column;
    }
    .profile-block{
      max-width: 80vw;
    }
    .modal{ 
      
      display: flex;
      margin: 0%;
      padding: 0%;
      flex-direction: column;
      justify-items: center;
      justify-content: center;
      align-content: center ;
      align-items: center;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .modal-content{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      overflow-y: auto;
      position: sticky;
      top: 0%;
      left: 0%;
      font-size: 0.8rem;
      max-width: 100%;
      margin: 0%;
      z-index: 1000;
      min-width: 100%;
      min-height:20vh;
    }
    .modal-content.done{
      min-height: 80vh;
      margin-top: 10vh;

    }
    .guests{
      max-height: 10vh;
      display: flex;
      justify-items: center;
      align-items: center;
      flex-wrap: wrap;
      overflow-y: scroll;
      border: inset 2px;
      border-color: #005463;
      box-sizing: border-box;
      border-radius: 10px;
      max-width: 98vw;
    }
   
    .billBtn{
      position: relative;
      bottom: 7vh;
      
    }
    .scroll{
      scroll-snap-type: y mandatory;
    }
    .orderListContainer{
      scroll-snap-align: start;
      width: 100%;
      height: 60vh;
      background-color: black;
      box-shadow:
      0 0 2px #ffffff,
      0 0 5px #b6b6b6,
      0 0 10px #5f5f5f,
      0 0 20px #000000;   

    }
    #guestInOrder{
      min-width: 95vw;
      font-size: 0.8rem;
      max-height: 20%;
    }
    .order{
      margin-top: 25hv;
      width: 100vw;
      min-height: 75vh;
      justify-content: center;
      justify-items: center;
    
    }
    
    .histList, .BMorderList ,.BMhistList{
      min-height: 60vh;
      max-height: 60vh;
      min-width: 98%;
      margin: 0%;
      margin-bottom: 7vh;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      box-shadow:
      0 0 2px #ffffff,
      0 0 5px #b6b6b6,
      0 0 10px #5f5f5f,
      0 0 20px #000000;   
    }
    .orderList {
      min-height: 45vh;
      max-height: 45vh;
      min-width: 98%;
      margin: 0%;
      margin-bottom: 7vh;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      box-shadow:
      0 0 2px #ffffff,
      0 0 5px #b6b6b6,
      0 0 10px #5f5f5f,
      0 0 20px #000000;   
    }
    #BMhistList, #BMorderList{
      margin: 0%;
      min-width: 100%;
      max-height: 90%;
      overflow-y: auto;
      
    }
    td, th{
      
      font-size: 0.7rem;
      padding: 1% 2% 1% 2%;
      white-space: wrap;

      
    }
   .tddish{
    text-align: left;
   }
   
    
    .dish-table{
      
      margin-top: 0%;
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: 50vh;
      width: 95vw;
    }
    #dish-table{
      min-width: 100%;
    }
    .orderBtns{
      display: flex;
      flex-wrap: wrap;     
      
      left: 0;
      width: 100%;
      justify-content: center;
      box-sizing: border-box;
      padding-bottom: 1%;
      z-index: 900;
    }
    .dishBtn{
      
      width: 80vw;
      margin: 1% 0 0 0 ;
    }
    .guest-button{
      max-width: 25%;
      margin: 0 0 0 0 ;
    }
    .confirmPopup{
    font-size: 1rem;
    width: 50vw;
    height: 20vh;
    }
    .serviceRoom, .actTable.occupied-active{
      font-size: 0.7rem;
    }
    .roomLoad{
      border: none;
    }
    .resForms{
      justify-items: center;
      padding: 0%;
    }
    .dishCont {
    position: relative;
    width: 90%;
    height: 20vh;
    border-radius: 0%;
    margin: 1%;
    padding: 0%;
     box-shadow:
     0 0 2px #ffffff,
    0 0 5px #b6b6b6,
    0 0 10px #5f5f5f,
    0 0 20px #000000;
    }
    .dishCont.first {
  border-radius: 0%;
  padding: 0%;
  }
  

.dishCont.last {
  border-radius: 0%;
  padding: 0%;
  }
  .speise{
    display: flex;
    justify-content: center;
    
  }
  

    .dish {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    border-radius: 0%;
    margin: 0%;
    
    }

    .dishText {
    
    transform-origin: top left;
    background: radial-gradient(circle , #818181, #000000);
   
    color: #ffffff;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: top;
    justify-content: left;
    clip-path: polygon(0 0,100% 0,100% 17%,2% 17%,25% 100%, 0% 100%);
    transition: clip-path 0.7s;
    z-index: 2;
    }
    .dishCont:hover .dishText{
      clip-path: polygon(0 0,100% 0,100% 75%,50% 75%, 30% 100%, 0% 100%);
      transform: scale(1);
    }
    .dishCont:hover .dishDescBox{
      opacity: 1;
    }
    
    .dishInfoBtn{
      position: absolute;
      top:10%;
      right: 0%;
      width: 10vw;
      height: 10vw;
      max-width: 20vw;
      max-height: 20vw;
     
      }

    .menuPic {
    
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    z-index: 1;
    }
   .table{
    font-size: 1.2rem;
   }
    
#orderGrid {
    width: 95vw;
    display: flex;
    flex-direction: column;
    overflow: visible;
  
  }
.orderBox {
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, #818181, #000000);
    border-radius: 15px;
    box-shadow: 0 0 2px #ffffff, 0 0 5px #b6b6b6, 0 0 10px #5f5f5f, 0 0 20px #000000;
  }
.tblOrder{
  width: 100%;
  height:8vh;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.orderLabel{
  
  
  min-width: 100%;
  display: flex;
  z-index: 900;
  justify-content: center;
  border-radius: 0;
  margin: 0%;
 
   
}
.orderLabel.done{
  position: fixed;
  top: 0;

}
 #orderModal{
    min-width: 100%;
     align-items:flex-start;
     padding: 0;
     justify-content: space-evenly

  }
  #setOrderBtn{
    min-width: 50vw;
    text-shadow: 
    0 0 2px #00eeff,
    0 0 5px #00c4ba,
    0 0 10px #006e6e,
    0 0 20px #001d22;
    position: absolute;
    left: 25vw;
    bottom: 3%;
    margin: 0%;
  }
  #orderList{
    width: 100%;
  }
.orderBox.active .clsBtn{
display: block;
 position:fixed;
 top:85vh;
 left: 28vw ;
}
.dishList {
    /* Erbt von der Basis-Definition: max-height: 0, opacity: 0 */
    display: flex;           /* ← Nur display ändern */
    flex-direction: column;
  }
   .orderBox.active {
    scroll-snap-type: x mandatory;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
    z-index: 100;
    padding: 0;
    margin: 0;
  }

    .orderBox.active .dishList {
    scroll-snap-align: start;
    display: block;
    min-width: 100vw;
    min-height: 65vh;
    max-height: 65vh;
    opacity: 1;
    overflow-y: auto;
    margin: 0;
    margin-right: 2vw;
    margin-top: 15vh;
    padding: 0;
    flex-shrink: 0;
  }
.boxLabel{
  
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  width: 100%;
  font-size: 0.8rem;
}
 .orderBox.active .boxLabel {
    scroll-snap-align: start;
    position: fixed;
    margin-top: 5vh;
    top: 0;
    left:0;
    z-index: 900;
    margin-bottom: 10px;
    max-height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font-size: 0.8rem;
  }
::-webkit-scrollbar {
    width: 0px; /* Breite der vertikalen Scrollleiste */
    height: 0px; /* Höhe der horizontalen Scrollleiste */
}

/* Hintergrund der Scrollleiste */
::-webkit-scrollbar-track {
    background: #ffffff; /* Farbe des Scrollleisten-Hintergrunds */
    border-radius: 0px; /* Abgerundete Ecken */
}

/* Scrollbalken (Thumb) */
::-webkit-scrollbar-thumb {
    background: #00eeff34; /* Farbe des Scrollbalkens */
    border-radius: 0px; /* Abgerundete Ecken */
    box-shadow: 
     0 0 5px #00eeff,
    0 0 10px #0097bd,
    0 0 20px #005463,
    0 0 30px #00171b;
  }

/* Scrollbalken beim Hover */
::-webkit-scrollbar-thumb:hover {
   background: #00ffdd8e; /* Ändert die Farbe des Thumbs */
   
  width: 0px; 
}



}
  /* Gesamte Scrollleiste */
